NODE_ENV=development
# Runtime (pooling / pgbouncer)
DATABASE_URL=postgresql://postgres.ryjmbseanmjzwftxnvsw:AlexGreice01032026@aws-1-us-east-2.pooler.supabase.com:5432/postgres
# Migrations (pooler em modo sessão)
DIRECT_URL=postgresql://postgres.ryjmbseanmjzwftxnvsw:AlexGreice01032026@aws-1-us-east-2.pooler.supabase.com:5432/postgres
NEXT_PUBLIC_SUPABASE_URL=https://ryjmbseanmjzwftxnvsw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ5am1ic2Vhbm1qendmdHhudnN3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3OTk5ODcsImV4cCI6MjA4ODM3NTk4N30.0SyxNNdnLUkNYzGzClkmLy5-b69NcVTOR6GWKRiBOAY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ5am1ic2Vhbm1qendmdHhudnN3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mjc5OTk4NywiZXhwIjoyMDg4Mzc1OTg3fQ.y8WssW9JHsOmZWYU0EqxUkNbLqQAimc20u8Fa9LUbHE
APP_BASE_URL=https://lessul-go-atendimento.onrender.com